@import '../function/function';
@import '../font/font';

.contact-right .address p.contact-icon{
	.p(30px, Arial, #e84c3d);
	.float;
}

.contact-right {
	.padding(70px, 0, 0, 0);
}

.contact-right .address p.contact-content{
	.p(14px, opensans, #93979e);
	.padding(10px, none, 45px, none);
	.size(50%, auto, none);
}	

span.content-n{
	.p(14px, opensans, #81868e)!important;
}



.contact-left button{
	.margin(22px, none, none, none);
	.size(50%, 50px, #e84c3d);
	.p(14px, opensans, white); 
	.text-align;
	.line-height;
	border: none;
}

.input{
	border: 1px solid #ebebeb;
}


.input1, .input2{
	max-width: 46%;
}

.input2{
	.margin(none, none, 25px, none);
}

.input3{
	.margin(22px, none, none, none);
	max-width: 100%;
}

span.mess-c{
	.padding(5px, 200px, none, none);
}

.label-name{
	background: #f3f3f3!important;
}



