@import '../function/function';
@import '../font/font';

.contact-right .address p.contact-icon{
	.p(30px, Arial, #e84c3d);
	.float;
}

.contact-right {
	.padding(70px, 0, 0, 0);
}

.contact-right .address p.contact-content{
	.p(14px, opensans, #93979e);
	.padding(10px, none, 45px, none);
	.size(50%, auto, none);
}	

.contact-left .name{
	.size(47%, 45px, #f3f3f3);
	border: 1px solid #ebebeb;
	.padding(none, none, 15px, none);
	.p(14px, opensans, #81868e);
}

.contact-left .email{
	.size(48%, 45px, #f3f3f3);
	border: 1px solid #ebebeb;
	.margin(none, none, 22px, none); 
	.padding(none, none, 15px, none);
	.p(14px, opensans, #81868e);
}

.contact-left .mess{
	.size(99%, auto, #f3f3f3);
	border: 1px solid #ebebeb;
	.margin(22px, none, none, none); 
	.padding(20px, 215px, 25px, none);
	.p(14px, opensans, #81868e);
}

.contact-left button{
	.margin(22px, none, none, none);
	.size(50%, 50px, #e84c3d);
	.p(14px, opensans, white); 
	.text-align;
	.line-height;
	border: none;
}
