@font-face {
  font-family: lecker;
  src: url("../font/LeckerliOne-Regular.otf") format("opentype");
}
@font-face {
  font-family: opensans;
  src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: roboto-bold;
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: roboto-light;
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: roboto-medium;
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: roboto-regular;
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
a,
a:hover {
  text-decoration: none !important;
}
ul,
li {
  list-style: none;
}
.about {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-top: 110px;
  padding-bottom: 130px;
  padding-left: 0;
  padding-right: 0;
}
.about-text p:first-child {
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
}
.about-text p:nth-child(2) {
  width: 45px;
  height: 3px;
  background: #898989;
}
.about-text p:nth-child(3) {
  font-size: 14px;
  font-family: opensans;
  color: #93979e;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 80%;
  height: auto;
  background: none;
}
.about-text .learn {
  width: 165px;
  height: 45px;
  background: #e84c3d;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.learn p {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 16px !important;
  font-family: roboto-light !important;
  color: white !important;
  line-height: 2.5;
  text-align: center;
}
.about-img img {
  max-width: 100%;
}
.about-img img {
  max-width: 100%;
  transition: all 0.2s ease-in-out;
}
.about-img:hover img {
  transform: scale(1.1);
}
.about-text .learn:hover {
  background: white;
}
.about-text .learn:hover p {
  color: #e84c3d!important;
}
.what {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-top: 0;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
}
.what-top {
  padding-top: 0;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}
.what-top p {
  text-align: center;
}
.what-top p:first-child {
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
}
.what-top p:nth-child(2) {
  width: 45px;
  height: 3px;
  background: #898989;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.what-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #81868e;
  padding-top: 45px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.what-mid .ui {
  border: 3px solid #ebebeb;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  transition: all 0.2s ease-in-out;
}
.what-mid .ui p:first-child {
  float: left;
  width: 110px;
  height: 110px;
  background: #e84c3d;
  border-radius: 60px;
  font-size: 45px;
  font-family: Arial;
  color: white;
  line-height: 2.5;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 0;
}
.what-mid .ui p:nth-child(2) {
  font-size: 16px;
  font-family: roboto-bold;
  color: #81868e;
  padding-top: 50px;
  padding-bottom: 0;
  padding-left: 165px;
  padding-right: 0;
}
.what-mid .ui p:nth-child(3) {
  width: 45px;
  height: 3px;
  background: #d7d7d7;
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 165px;
  margin-right: 0;
}
.what-mid .ui p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #b4b6ba;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 165px;
  padding-right: 0;
}
.what-mid .ui:hover {
  border: 3px solid #e84c3d;
  background: #e84c3d;
  cursor: pointer;
  transform: scale(1.1);
}
.what-mid .ui:hover p:nth-child(2) {
  font-size: 16px;
  font-family: roboto-bold;
  color: white;
  padding-top: 50px;
  padding-bottom: 0;
  padding-left: 165px;
  padding-right: 0;
}
.what-mid .ui:hover p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 165px;
  padding-right: 0;
}
.what-mid .ui:hover p:first-child {
  float: left;
  width: 110px;
  height: 110px;
  background: white;
  border-radius: 60px;
  font-size: 45px;
  font-family: Arial;
  color: #e84c3d;
  line-height: 2.5;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 0;
}
.what-mid .ui:hover p:nth-child(3) {
  width: 45px;
  height: 3px;
  background: white;
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 165px;
  margin-right: 0;
}
.parameter {
  width: 100%;
  height: auto;
  background: url('../images/street.png') no-repeat center;
  background-size: cover;
}
.parameter-in {
  width: 100%;
  height: auto;
  background: #e84c3d;
  opacity: 0.9;
}
.box-in3 {
  padding-top: 130px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
}
.box-in3 p:first-child {
  float: left;
  font-size: 40px;
  font-family: Arial;
  color: white;
  opacity: 1 !important;
}
.box-in3 p:nth-child(2) {
  font-size: 30px;
  font-family: roboto-regular;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 0;
  line-height: 2;
  opacity: 1 !important;
}
.box-in3 p:nth-child(3) {
  font-size: 16px;
  font-family: roboto-regular;
  color: white;
  opacity: 1 !important;
}
.box-in3 p:last-child {
  width: 45px;
  height: 3px;
  background: white;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  opacity: 1 !important;
}
.parameter-into {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 80px;
  padding-right: 0;
}
.step {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-top: 90px;
  padding-bottom: 75px;
  padding-left: 0;
  padding-right: 0;
}
.step-top p:first-child {
  text-align: center;
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
}
.step-top p:nth-child(2) {
  width: 45px;
  height: 3px;
  background: #898989;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.step-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #93979e;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.simple-step p:first-child {
  width: 100px;
  height: 100px;
  background: none;
  border: 1px solid #e6e6e6;
  text-align: center;
  font-size: 45px;
  font-family: Arial;
  color: #e84c3d;
  border-radius: 60px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.simple-step p:first-child span {
  float: left;
  width: 80px;
  height: 80px;
  background: #e6e6e6;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 0;
}
.simple-step p:nth-child(2) {
  font-size: 16px;
  font-family: roboto-regular;
  color: #333b46;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.simple-step p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #a4a7ac;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.border {
  border-bottom: 1px solid #e6e6e6;
  width: 22%;
  height: 1px;
}
.step-mid {
  position: relative;
}
.border1 {
  position: absolute;
  z-index: 999;
  top: 20%;
  left: 24.5%;
}
.border2 {
  position: absolute;
  z-index: 999;
  top: 20%;
  left: 53.6%;
}
.work {
  width: 100%;
  height: auto;
  background: #ececec;
  padding-top: 90px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.work-top p:first-child {
  text-align: center;
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
}
.work-top p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 3px;
  background: #898989;
}
.work-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #92969c;
  padding-top: 30px;
  padding-bottom: 65px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.work-mid {
  width: 100%;
  height: auto;
  background: none;
}
.work-into {
  float: left;
  padding-bottom: 23.8%;
  width: 33.33333333%;
}
.work-into:first-child {
  background: url('../images/coffe-shop.png') no-repeat center;
  background-size: cover;
}
.work-into:nth-child(2) {
  background: url('../images/thanks.png') no-repeat center;
  background-size: cover;
}
.work-into:last-child {
  background: url('../images/cat&madison.png') no-repeat center;
  background-size: cover;
}
.work-into {
  position: relative;
}
.work-in {
  display: none;
}
.work-into:hover .work-in {
  position: absolute;
  z-index: 99;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #e84c3d;
  opacity: 0.8;
  cursor: pointer;
  display: block;
  -webkit-animation-name: example;
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes example {
  from {
    left: -100%;
  }
  to {
    left: 5%;
  }
}
.work-into .work-in p {
  text-align: center;
  line-height: 2;
  font-size: 14px;
  font-family: opensans;
  color: white;
  width: 135px;
  height: 35px;
  background: none;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 30%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.service {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-top: 90px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.service-top p:first-child {
  text-align: center;
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
}
.service-top p:nth-child(2) {
  width: 45px;
  height: 3px;
  background: #898989;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.service-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #b4b6ba;
  padding-top: 30px;
  padding-bottom: 55px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.service-mid {
  width: 100%;
  height: auto;
  background: #e84c3d;
}
.service-in {
  width: 100%;
  height: auto;
  background: none;
}
.service-in .service-text {
  width: 66.66666667%;
  height: auto;
  background: none;
  padding-top: 5%;
  padding-bottom: 0;
  padding-left: 15%;
  padding-right: 0;
}
.service-text p:first-child {
  font-size: 16px;
  font-family: roboto-medium;
  color: white;
}
.service-text p:nth-child(2) {
  width: 45px;
  height: 3px;
  background: white;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.service-text p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: white;
  width: 50%;
  height: auto;
  background: none;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.service-img1 {
  background: url('../images/title1.png') no-repeat center;
  background-size: cover;
  padding-bottom: 20%;
  width: 33.33333333%;
}
.service-img2 {
  background: url('../images/title2.png') no-repeat center;
  background-size: cover;
  padding-bottom: 20%;
  width: 33.33333333%;
}
.service-img3 {
  background: url('../images/title3.png') no-repeat center;
  background-size: cover;
  padding-bottom: 20%;
  width: 33.33333333%;
}
.flex {
  display: flex;
}
.ideas {
  width: 100%;
  height: auto;
  background: url('../images/building.png') no-repeat center;
  background-size: cover;
}
.ideas-in {
  background: black;
  opacity: 0.899;
  padding-top: 110px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
}
.ideas-in p {
  text-align: center;
}
.ideas-in p:first-child {
  font-size: 30px;
  font-family: roboto-light;
  color: white;
  padding-top: 0;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}
.ideas-in p:nth-child(2) {
  font-size: 20px;
  font-family: roboto-light;
  color: white;
  padding-top: 0;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
.ideas-in a > p {
  font-size: 16px !important;
  font-family: opensans !important;
  color: white !important;
  width: 180px;
  height: 50px;
  background: #e84c3d;
  border-radius: 10px;
  line-height: 3;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 1 !important;
}
.ideas-in a > p:hover {
  background: white;
  color: #e84c3d!important;
}
.profolio {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-top: 100px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.porfolio-top p:first-child {
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
  text-align: center;
}
.porfolio-top p:nth-child(2) {
  width: 45px;
  height: 3px;
  background: #898989;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.porfolio-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #93979e;
  padding-top: 30px;
  padding-bottom: 65px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-filter ul {
  text-align: center;
  padding-top: 0;
  padding-bottom: 55px;
  padding-left: 0;
  padding-right: 0;
}
.portfolio-filter ul li {
  display: inline-block;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.portfolio-filter ul li:before {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  content: '/';
}
.portfolio-filter ul li:last-child:before {
  display: none;
}
.portfolio-filter ul li p:nth-child(2) {
  width: 30px;
  height: 2px;
  background: #f3f3f3;
}
.portfolio-filter ul li:hover p:nth-child(2) {
  width: 30px;
  height: 2px;
  background: #898989;
  -webkit-transition: 1s;
}
.active p:nth-child(2) {
  width: 30px !important;
  height: 2px !important;
  background: #898989 !important;
}
.grid {
  width: 100%;
  height: auto;
}
.grid-item {
  width: 33.3334%;
  position: relative;
}
.grid-in {
  display: none;
}
.grid-item:hover .grid-in {
  position: absolute;
  z-index: 999;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: #e84c3d;
  opacity: 0.89;
  display: block;
  -webkit-animation-name: example1;
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes example1 {
  from {
    top: -100%;
  }
  to {
    top: 5%;
  }
}
.grid-in-16 {
  padding-top: 20%;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 0;
}
.grid-in-33 {
  padding-top: 60%;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 0;
}
.grid-in p:first-child {
  font-size: 20px;
  font-family: roboto-medium;
  color: white;
}
.grid-in p:nth-child(2) {
  font-size: 16px;
  font-family: roboto-light;
  color: white;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
.grid-in p:last-child {
  width: 35px;
  height: 2px;
  background: #c2c2c2;
}
.grid-item img {
  width: 100%;
  float: left;
}
.grid-item1 {
  background: url('../images/cat.png') no-repeat center;
  padding-bottom: 16.667%;
  background-size: cover;
}
.grid-item2 {
  background: url('../images/bones.png') no-repeat center;
  padding-bottom: 33.334%;
  background-size: cover;
}
.grid-item3 {
  background: url('../images/swirl.png') no-repeat center;
  padding-bottom: 16.667%;
  background-size: cover;
}
.grid-item4 {
  background: url('../images/wine.png') no-repeat center;
  padding-bottom: 33.334%;
  background-size: cover;
}
.grid-item5 {
  background: url('../images/fingers.png') no-repeat center;
  background-size: cover;
  padding-bottom: 16.667%;
}
.grid-item6 {
  background: url('../images/hat.png') no-repeat center;
  background-size: cover;
  padding-bottom: 16.667%;
}
.grid-item7 {
  background: url('../images/graphica.png') no-repeat center;
  background-size: cover;
  padding-bottom: 16.667%;
}
.grid-item8 {
  background: url('../images/free-psd.png') no-repeat center;
  background-size: cover;
  padding-bottom: 16.667%;
}
.grid-item9 {
  background: url('../images/grande.png') no-repeat center;
  background-size: cover;
  padding-bottom: 16.667%;
}
.grid-item10 {
  background: url('../images/design.png') no-repeat center;
  background-size: cover;
  padding-bottom: 33.334%;
}
.grid-item11 {
  background: url('../images/mock.png') no-repeat center;
  background-size: cover;
  padding-bottom: 16.667%;
}
.grid-item12 {
  background: url('../images/bee.png') no-repeat center;
  background-size: cover;
  padding-bottom: 16.667%;
}
.subscribe {
  width: 100%;
  height: auto;
  background: url('../images/dell.png') no-repeat center;
  background-size: cover;
}
.subscribe-in {
  background: #e84c3d;
  padding-top: 100px;
  padding-bottom: 75px;
  padding-left: 0;
  padding-right: 0;
  opacity: 0.899;
}
.subscribe-left p:first-child {
  font-size: 18px;
  font-family: roboto-medium;
  color: white;
}
.subscribe-left p:nth-child(2) {
  width: 45px;
  height: 3px;
  background: white;
}
.subscribe-left p:last-child {
  font-size: 12.53px;
  font-family: opensans;
  color: white;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.subscribe-right {
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.input--kaede {
  border: 1px solid white;
}
.input__label--kaede {
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
  background: #e84c3d;
}
.email-s {
  font-size: 12.5px !important;
  font-family: opensans !important;
  color: white !important;
}
.input__field {
  font-size: 12.5px !important;
  font-family: opensans !important;
  color: #e84c3d !important;
}
.input--kaede {
  float: left;
  background: none!important;
}
.button-s {
  border-radius: 0!important;
  border: 1px solid white;
  font-size: 12.5px;
  font-family: roboto-bold;
  color: white;
  border-left: none;
  width: 130px;
  height: 56px;
  background: #e84c3d;
}
.text-subscribe {
  width: calc(75%) !important;
}
.crew {
  width: 100%;
  height: auto;
  background: #ececec;
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
}
.crew-top p:first-child {
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
  text-align: center;
}
.crew-top p:nth-child(2) {
  width: 45px;
  height: 3px;
  background: #898989;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.crew-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #92969c;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 75px;
  padding-left: 0;
  padding-right: 0;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.user img {
  width: 100%;
}
.user {
  position: relative;
}
.user-box {
  display: none;
}
.user:hover .user-box {
  position: absolute;
  z-index: 99;
  top: 35%;
  left: 5%;
  width: 90%;
  height: auto;
  background: #e84c3d;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  -webkit-animation-name: example2;
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes example2 {
  from {
    top: 80%;
  }
  to {
    top: 35%;
  }
}
.user-box p.user-content {
  font-size: 11px;
  font-family: roboto-light;
  color: white;
  text-align: center;
}
.social-user {
  text-align: center;
}
.social-user p {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 14.8px;
  font-family: Arial;
  color: white;
  text-align: center;
  line-height: 2;
}
.user p.name-user {
  text-align: center;
  font-size: 17px;
  font-family: roboto-medium;
  color: #333b46;
  padding-top: 30px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.user p.job-user {
  text-align: center;
  font-size: 12px;
  font-family: roboto-regular;
  color: #333b46;
}
.test {
  width: 100%;
  height: auto;
  background: url('../images/bicycle.png') no-repeat center;
  background-size: cover;
  position: relative;
}
.test-top,
.slider,
.pagging {
  background: black;
  opacity: 0.899;
}
.test-top p {
  margin-top: none !important;
  margin-bottom: 0 !important;
  margin-left: none !important;
  margin-right: none !important;
}
.test-top p.title-test {
  text-align: center;
  font-size: 20px;
  font-family: roboto-medium;
  color: white;
  padding-top: 90px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.test-top p.underline-test {
  width: 45px;
  height: 3px;
  background: white;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.test-top p.client {
  text-align: center;
  font-size: 18px;
  font-family: opensans;
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}
.slider {
  text-align: center;
}
.slider ul {
  display: table;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.img-test img {
  width: 160px;
  height: 160px;
  background: none;
  border-radius: 50%;
}
.test-content p.content-client {
  font-size: 16px;
  font-family: opensans;
  color: white;
  font-style: italic;
  padding-top: 45px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  width: 60%;
  height: auto;
  background: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.test-content p.author {
  font-size: 20px;
  font-family: roboto-medium;
  color: #e84c3d;
  padding-top: 45px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}
.pagging {
  padding-top: 0;
  padding-bottom: 90px;
  padding-left: 0;
  padding-right: 0;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
  display: block;
  text-align: center;
}
.pagging li {
  display: inline-block;
}
.pagging a {
  width: 10px;
  height: 10px;
  background: none;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  float: left;
  border: 1px solid #e84c3d;
}
.pagging a:hover {
  width: 10px;
  height: 10px;
  background: #e84c3d;
}
.flex-active {
  background: #e84c3d!important;
}
.blog {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
}
.blog-top p:first-child {
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
  text-align: center;
}
.blog-top p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 3px;
  background: #898989;
}
.blog-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #93979e;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.blog-height img {
  width: 100%;
  position: relative;
}
.blog-height:hover .blog-in {
  display: block;
}
.blog-in {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background: #e84c3d;
  padding-top: 120px;
  padding-bottom: 110px;
  padding-left: 30px;
  padding-right: 0;
  display: none;
  -webkit-animation-name: example3;
  -webkit-animation-duration: 2s;
}
@-webkit-keyframes example3 {
  from {
    right: -10%;
  }
  to {
    right: 2%;
  }
}
.blog-info {
  width: 80%;
  height: auto;
  background: none;
}
.blog-title p:first-child {
  font-size: 16px;
  font-family: roboto-medium;
  color: white;
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
}
.blog-title p:nth-child(2) {
  font-size: 14px;
  font-family: roboto-light;
  color: white;
  margin-top: none;
  margin-bottom: 10px;
  margin-left: none;
  margin-right: none;
}
.blog-title p:last-child {
  width: 45px;
  height: 2px;
  background: white;
  margin-top: none;
  margin-bottom: 20px;
  margin-left: none;
  margin-right: none;
}
.blog-content p {
  font-size: 12px;
  font-family: opensans;
  color: white;
  margin-top: none;
  margin-bottom: 20px;
  margin-left: none;
  margin-right: none;
}
.blog-date p:first-child {
  float: left;
  font-size: 16px;
  font-family: Arial;
  color: white;
}
.blog-date p:last-child {
  font-size: 12px;
  font-family: opensans;
  color: white;
  padding-top: 3px;
  padding-bottom: none;
  padding-left: 20px;
  padding-right: none;
}
.price {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-top: none;
  padding-bottom: none;
  padding-left: none;
  padding-right: none;
}
.price-top p:first-child {
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
  text-align: center;
}
.price-top p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 3px;
  background: #898989;
}
.price-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #93979e;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.basic ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.basic ul li {
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: none;
  padding-right: none;
}
.basic ul li:first-child {
  border-radius: 10px 10px 0 0;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: none;
  padding-right: none;
}
.basic ul li:last-child {
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0 0 10px 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: none;
  padding-right: none;
}
.basic ul li p {
  margin-top: none;
  margin-bottom: 0;
  margin-left: none;
  margin-right: none;
  text-align: center;
  font-size: 13px;
  font-family: opensans;
  color: #93979e;
}
.basic ul li:first-child p {
  font-size: 20px !important;
  font-family: roboto-medium !important;
  color: #81868e !important;
}
.basic ul li:last-child p {
  width: 115px;
  height: 30px;
  background: none;
  border: 1px solid #cccccc;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  border-radius: 4px;
}
.basic {
  transition: all 0.2s ease-in-out;
}
.basic:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.basic:hover ul li:last-child p {
  background: #e84c3d;
  color: white;
  border: 1px solid #e84c3d;
  -webkit-transition: 2s;
}
.basic-in {
  border-radius: 10px;
}
.basic:hover .basic-in {
  box-shadow: 0 0 20px #959191;
}
.contact {
  width: 100%;
  height: auto;
  background: #f3f3f3;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: none;
  padding-right: none;
}
.contact-top p:first-child {
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
  text-align: center;
}
.contact-top p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 3px;
  background: #898989;
}
.contact-top p:last-child {
  font-size: 14px;
  font-family: opensans;
  color: #93979e;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
  padding-left: 0;
  padding-right: 0;
  width: 40%;
  height: auto;
  background: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.contact-right .address p.contact-icon {
  font-size: 30px;
  font-family: Arial;
  color: #e84c3d;
  float: left;
}
.contact-right {
  padding-top: 70px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.contact-right .address p.contact-content {
  font-size: 14px;
  font-family: opensans;
  color: #93979e;
  padding-top: 10px;
  padding-bottom: none;
  padding-left: 45px;
  padding-right: none;
  width: 50%;
  height: auto;
  background: none;
}
span.content-n {
  font-size: 14px !important;
  font-family: opensans !important;
  color: #81868e !important;
}
.contact-left button {
  margin-top: 22px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  width: 50%;
  height: 50px;
  background: #e84c3d;
  font-size: 14px;
  font-family: opensans;
  color: white;
  text-align: center;
  line-height: 2;
  border: none;
}
.input {
  border: 1px solid #ebebeb;
}
.input1,
.input2 {
  max-width: 46%;
}
.input2 {
  margin-top: none;
  margin-bottom: none;
  margin-left: 25px;
  margin-right: none;
}
.input3 {
  margin-top: 22px;
  margin-bottom: none;
  margin-left: none;
  margin-right: none;
  max-width: 100%;
}
span.mess-c {
  padding-top: 5px;
  padding-bottom: 200px;
  padding-left: none;
  padding-right: none;
}
.label-name {
  background: #f3f3f3!important;
}
.copy {
  width: 100%;
  height: auto;
  background: #e84c3d;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
}
.copy {
  font-size: 15px;
  font-family: opensans;
  color: white;
  text-align: center;
}
.header {
  width: 100%;
  height: 799px;
  background: url('../images/main.png') no-repeat center;
  background-size: cover;
}
.logo,
.menu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.logo a {
  font-size: 28px !important;
  font-family: lecker !important;
  color: #e84c3d !important;
}
.logo p {
  padding-top: 60px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.menu ul {
  padding-top: 60px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.menu ul li {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 30px;
  position: relative;
}
.menu ul li a {
  font-size: 14px;
  font-family: opensans;
  color: #333b46;
}
.menu ul li > ul {
  position: absolute;
  z-index: 99;
  top: 10px;
  left: 0;
  width: 100px;
  height: auto;
  background: none;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  display: none;
}
.menu ul li:hover > ul {
  display: block;
}
.menu ul li > ul li a {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.header-img p {
  text-align: center;
}
.box-in1 {
  padding-top: 270px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.box-in1 p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 35px;
  font-family: roboto-medium;
  color: #333b46;
}
.box-in1 p:last-child {
  font-size: 16px;
  font-family: opensans;
  color: #81868e;
}
.box-in2 {
  padding-top: 160px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}
.box-in2 p:first-child {
  background: url('../images/scroll-down.png') no-repeat center !important;
  width: 100%;
  height: 38px;
  background: none;
}
.box-in2 p:last-child {
  font-size: 12px;
  font-family: opensans;
  color: #e84c3d;
}
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  -webkit-transition: 0.5s;
}
#back-to-top:hover {
  background: #e84c3d;
}
#back-to-top.show {
  opacity: 1;
}
.underlin-header {
  width: 30px;
  height: 3px;
  background: #e1e1e1;
}
.menu ul li:hover .underlin-header {
  width: 30px;
  height: 3px;
  background: #898989;
  -webkit-transition: 1s;
}
.clear {
  clear: both;
}
@media (max-width: 1024px) {
  .menu ul li {
    margin-right: 19px;
  }
  .border1 {
    left: 23%;
  }
  .border2 {
    left: 55%;
  }
  .input1,
  .input2 {
    max-width: 45%;
  }
}
@media (max-width: 768px) {
  .menu ul li p.underlin-header {
    display: none;
  }
  .menu ul li {
    margin: 0;
  }
  .menu ul li:hover {
    background: black;
    -webkit-transition: 0.5s;
  }
  .input1,
  .input2 {
    max-width: 46.3%;
  }
  .border {
    display: none;
  }
  .work-into {
    width: 100%;
  }
  .logo p {
    text-align: center;
  }
  .menu ul {
    padding-top: 0;
    background: #e84c3d;
  }
  .menu ul li {
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu ul li p {
    text-align: center;
    color: white;
  }
  .menu ul li > ul {
    top: inherit;
    bottom: 0px;
    left: 65%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .menu ul li:first-child > ul,
  .menu ul li:nth-child(2) > ul {
    top: 0px;
    bottom: inherit;
  }
  .open {
    display: none;
  }
  .header .row {
    position: relative;
  }
  .nav {
    position: absolute;
    z-index: 9999;
    width: 29px;
    height: 25px;
    background: url('../images/icon-menu.png') no-repeat center;
    top: 60px;
    right: 0;
  }
  .box-in1 p {
    text-align: center;
  }
  .about-img {
    padding-top: 20px;
  }
  .box-in3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  .blog-right {
    margin-top: 10px;
  }
  .basic ul {
    padding: 0;
  }
  .grid-item {
    position: inherit;
    left: inherit;
    top: inherit;
    margin: 0 auto;
    width: 100%;
  }
  .grid-in-16 {
    padding-top: 3%;
  }
  .grid-in-33 {
    padding-top: 15%;
  }
  .work-into .work-in p {
    margin-top: 7%!important;
  }
}
@media (max-width: 414px) {
  .subscribe-right input[type="text"] {
    width: 100%;
  }
  .basic {
    margin-bottom: 30px;
  }
  .text-subscribe {
    width: 100%!important;
  }
  .input1,
  .input2 {
    max-width: 100%!important;
  }
  .input2 {
    margin-left: 0;
    margin-top: 22px;
  }
  .contact-left .name,
  .contact-left .mess {
    width: 100%;
  }
  .contact-left .email {
    width: 100%;
    margin-left: 0;
    margin-top: 22px;
  }
  .blog-in {
    padding-top: 60px;
  }
  .grid-in-33 {
    padding-top: 7%;
  }
  .grid-in-16 {
    padding-top: 0;
  }
  .grid-in-16 p:first-child {
    margin: 0;
  }
  .grid-in-16 p:nth-child(2) {
    margin: 0;
    font-size: 13px;
    padding-bottom: 0;
  }
  .subscribe-right button {
    border-left: 1px solid white;
    margin-top: 10px;
  }
  .box-in2 {
    padding-top: 100px;
  }
}
@media screen and (min-device-width: 375px) and (max-device-width: 414px) {
  .work-into:hover .work-in p {
    width: 110px;
    margin-top: 20%;
  }
  .flex-in {
    flex: 1 1;
  }
}
@media (max-width: 320px) {
  .grid-in-33 {
    padding-top: 1%;
  }
  .subscribe-right input[type="text"] {
    width: 230px;
  }
  .blog-in {
    padding-top: 30px;
  }
  .box-in1 {
    padding-top: 100px;
  }
  .simple-step p:first-child {
    width: 90px;
    height: 90px;
    line-height: 1.5;
  }
  .simple-step p:first-child span {
    width: 70px;
    height: 70px;
  }
  .work-into:hover .work-in p {
    width: 90px;
    margin-top: 15%;
  }
  .flex-in {
    flex: 1 1;
  }
  .subscribe-right button {
    border-left: 1px solid white;
    margin-top: 10px;
  }
}
.underline-left {
  font-size: 20px;
  font-family: roboto-medium;
  color: #333b46;
}
