.clear{
	clear: both;
}
@media (max-width: 1024px){
	.menu ul li {
	    margin-right: 19px;
	}
}

@media (max-width: 768px){
	.logo p {
		text-align: center;
	}

	.menu ul {
		padding-top: 0; 
		background: red;
	}

	.menu ul li{
		float: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.menu ul li p{
		text-align: center;
		color: white;
	}

	.menu ul li > ul {
	    top: inherit;
	    bottom: 0px;
	    left: 65%;
	    padding-top: 0px; 
	    padding-bottom: 0px;
	}

	.menu ul li:first-child > ul, .menu ul li:nth-child(2) > ul{
		top: 0px;
	    bottom: inherit;
	}

	.open{
		display: none;
	}

	.header .row{
		position: relative;
	}

	.nav{
		position: absolute;
		z-index: 9999;
		width: 29px;
		height: 25px;
		background: url('../images/icon-menu.png') no-repeat center;
		top: 60px;
		right: 0;
	}

	.box-in1{
		padding-left: 30%;
	}

	.box-in1 p{
		text-align: inherit;
	}

	.about-img{
		padding-top: 20px;
	}

	.box-in3{
		.padding(10px, 10px, 0, 0);
	}

	.blog-right{
		margin-top: 10px;
	}

	.basic ul{
		padding: 0;
	}

}

@media (max-width: 414px){
	
	.contact-left .name {
		width: 100%
	}

	.contact-left .email {
		width: 100%;
		margin-left: 0;
		margin-top: 22px;
	}

}

@media screen and (min-device-width: 375px) and (max-device-width: 414px) { 
	.work-into:hover .work-in p {
		width: 110px;
		margin-top: 20%;
	}

	.flex-in{
		flex:1 1;
	}

	.box-in2 {
    	padding-top: 130px;
	}

	.subscribe-right button {
		border-left: 1px solid white;
   		margin-top: 10px;
	}
}

@media (max-width: 320px){
	.box-in1 {
	    padding-left: 15%;
	    padding-top: 300px;
	}

	.box-in1 p:last-child{
		display: none;
	}

	.box-in2{
		padding-top: 53px;
	}

	.simple-step p:first-child {
		width: 90px;
		height: 90px;
		line-height: 1.5;
	}

	.simple-step p:first-child span {
		width: 70px;
		height: 70px;
	}

	.work-into:hover .work-in p {
		width: 90px;
		margin-top: 15%;
	}

	.flex-in{
		flex:1 1;
	}

	.subscribe-right button {
		border-left: 1px solid white;
   		margin-top: 10px;
	}
}