.clear{
	clear: both;
}
@media (max-width: 1024px){
	.menu ul li {
	    margin-right: 19px;
	}

	.border1 {
	    left: 23%;
	}

	.border2 {
	    left: 55%;
	}

	.input1, .input2 {
    	max-width: 45%;
	}
}

@media (max-width: 768px){



	.menu ul li{
		margin: 0;
		
	}

	.menu ul li:hover{
		background: black;
		-webkit-transition: 0.5s;
	}

	.menu ul li:hover p.underlin-header{
		background: none;
	}

	.input1, .input2 {
    	max-width: 46.3%;
	}

	.border{
		display: none;
	}

	.work-into{
		width: 100%;
	}

	.logo p {
		text-align: center;
	}

	.menu ul {
		padding-top: 0; 
		background: #e84c3d;
	}

	.menu ul li{
		float: none;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.menu ul li p{
		text-align: center;
		color: white;
	}

	.menu ul li > ul {
	    top: inherit;
	    bottom: 0px;
	    left: 65%;
	    padding-top: 0px; 
	    padding-bottom: 0px;
	}

	.menu ul li:first-child > ul, .menu ul li:nth-child(2) > ul{
		top: 0px;
	    bottom: inherit;
	}

	.open{
		display: none;
	}

	.header .row{
		position: relative;
	}

	.nav{
		position: absolute;
		z-index: 9999;
		width: 29px;
		height: 25px;
		background: url('../images/icon-menu.png') no-repeat center;
		top: 60px;
		right: 2%;
	}


	.box-in1 p{
		text-align: center;
	}

	.about-img{
		padding-top: 20px;
	}

	.box-in3{
		.padding(10px, 10px, 0, 0);
	}

	.blog-right{
		margin-top: 10px;
	}

	.basic ul{
		padding: 0;
	}

	.grid-item{
		position: inherit;
	    left: inherit;
	    top: inherit;
	    margin: 0 auto;
	    width: 100%;
	}

	.grid-in-16 {
		padding-top: 3%;
	}

	.grid-in-33 {
		padding-top: 15%;
	}

	.work-into .work-in p {
		margin-top: 7%!important;
	}

	.basic-in{
		margin-bottom: 40px;
	}

}

@media (max-width: 414px){

	.what-mid .ui p:first-child, .what-mid .ui:hover p:first-child {
		float:none;
		margin: 30px auto;
	}

	.what-mid .ui p:nth-child(2), .what-mid .ui p:last-child, .what-mid .ui:hover p:nth-child(2), .what-mid .ui:hover p:last-child {
		padding-left: 0;
		text-align: center;
	}

	.what-mid .ui p:nth-child(3), .what-mid .ui:hover p:nth-child(3) {
		margin: 25px auto;		
	}

	.what-mid .ui p:nth-child(2), .what-mid .ui:hover p:nth-child(2){
		padding-top: 20px;
	}

	.what-mid .ui p:last-child, .what-mid .ui:hover p:last-child {
		padding-top: 5px;
	}

	.menu ul li p.underlin-header{
		display: none;
	}

	.subscribe-right input[type="text"] {
		width: 100%;
	}

	.basic{
		margin-bottom: 30px;
	}

	.text-subscribe{
		width: 100%!important;
	}


	.input1, .input2{
		max-width: 100%!important;
	}

	.input2{
		margin-left: 0;
		margin-top: 22px;
	}

	
	.contact-left .name,  .contact-left .mess {
		width: 100%
	}

	.contact-left .email {
		width: 100%;
		margin-left: 0;
		margin-top: 22px;
	}

	.blog-in {
		padding-top:60px;
	}

	.grid-in-33 {
    	padding-top: 7%;
	}

	.grid-in-16 {
    	padding-top: 0;
	}
	
	.grid-in-16 p:first-child{
		margin: 0;
		
	}

	.grid-in-16 p:nth-child(2){
		margin: 0;
		font-size: 13px;
		padding-bottom: 0;
	}

	.subscribe-right button {
		border-left: 1px solid white;
   		margin-top: 10px;
	}

	.box-in2 {
    	padding-top: 100px;
	}

	.submit-sub input[value] {
		margin-top: 10px;
		border: 1px solid white;
		width: 50%;
	}

	.your-name{
		margin-bottom: 22px!important;
	}

}

@media screen and (min-device-width: 375px) and (max-device-width: 414px) { 
	.work-into:hover .work-in p {
		width: 110px;
		margin-top: 20%;
	}

	.flex-in{
		flex:1 1;
	}

	

	
}

@media (max-width: 320px){


	.grid-in-33 {
    	padding-top: 1%;
	}


	

	.blog-in {
		padding-top:30px;
	}

	.box-in1 {
	    padding-top: 100px;
	}


	.simple-step p:first-child {
		width: 90px;
		height: 90px;
		line-height: 1.5;
	}

	.simple-step p:first-child span {
		width: 70px;
		height: 70px;
	}

	.work-into:hover .work-in p {
		width: 90px;
		margin-top: 15%;
	}

	.flex-in{
		flex:1 1;
	}

	
}