@import '../function/function';
@import '../font/font';

.subscribe{
	.size(100%, auto, url('../images/dell.png') no-repeat center);
}

.subscribe-in{
	background: #e84c3d;
	.padding(100px, 75px, 0, 0);
	.opacity(0.899);
}

.subscribe-left p:first-child{
	.p(18px, roboto-medium, white);
}

.subscribe-left p:nth-child(2){
	.size(45px, 3px, white);
}

.subscribe-left p:last-child{
	.p(12.53px, opensans, white);
	.padding(10px, 0, 0, 0);
}

.subscribe-right{
	.padding(30px, 0, 0, 0);
}

.subscribe-right input[type="text"] {
	.size(275px, 40px, #e84c3d);
	.float;
}

.subscribe-right input[placeholder]{
	.p(12.5px, opensans, white);
	.padding(10px, 10px, 25px, 0);
	border: 1px solid white;
}

.subscribe-right button{
	.size(130px, 40px, #e84c3d);
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: none;
}

.subscribe-right button p{
	.p(12.5px, roboto-bold, white);
}